body{
	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfe5e6), to(#fff));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #dfe5e6, #fff);
    	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #dfe5e6, #fff);
    	/* IE 10 */
    	background: -ms-linear-gradient(top, #dfe5e6, #fff);
    	/* Opera 11.10+ */
    	background: -o-linear-gradient(top, #dfe5e6, #fff);

	/*background-color: #dfe5e6;*/
	font-size: 17px;
  	font-style:  normal;
  	font-family: 'Raleway', sans-serif;
  	color: #51626f;
}

a{
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}

a img{
	border: none;
	outline: none;
}

img{
	outline: none;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	-webkit-margin-before: 0.1em;
	-webkit-margin-after: 0.1em;
}

h1{
	color: #116db6;
	font-size: 3em;
}

h2{
	color: #4e90c4;
	font-size: 2.4em;
}

ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.col-md-12, .column, .row{
	padding: 0;
	margin:0;
}

.navbar{
	margin:0 auto;
	min-height: 100px;
}

.navbar-default{
	border-color: none;
	background-color: #f1f1f1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: #acc0c7;
	color: #fff;
	border-radius: 4px;
}

.navbar-nav>li>a{
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a{
	font-family: 'Oswald', sans-serif;
	color: #106cb6;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #125687;
}

.carousel-inner{
	background: url('../img/banner_img.png') no-repeat top center;
	height: 338px;
	background-color: #195a87;
}

.carousel-inner>.item{
	padding-top:340px;
}

.carousel-control.left, .carousel-control.right{
	background-image: none;
}

.carousel-control{
	width:60px;
	background-color: #106cb6;
	height: 80px;
	top:40%;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
	right:35%;
	top:40%;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{
	left:35%;
	top:40%;
}

.navbar-brand{
	position: relative;
	left: 5px;
	top:10px;
}

.navbar-right{
	position: relative;
	right: 5px;
	top:36px;
}

.container{
	text-align: center;
	padding-top: 20px;
	min-height:600px;
}

h4{
	margin: 5px;
}

.sidebar, .contents{
	text-align: left;
}

.sidebar{
	margin-left: 0;
	margin-bottom: 20px;
	text-indent: 40px;
}

.sidebar a{
	display: block;
	background-color: #fff;
	margin-top: 4px;
	padding: 10px 0px;
	text-indent: 20px;
}

.contents{
	padding-left: 40px;
}

.carousel-caption h1, .carousel-caption h2{
	text-shadow:none;
	color: #fff;
}

.carousel-caption h1{
	margin-bottom: 30px;
}

.light_blue{
	color: #acc0c7;
}

.learn_more{
	margin-top: 20px;
	margin-bottom: 40px;
}

.learn_more a{
	background-color: #195a87;
	padding: 8px 20px;
	border-radius: 4px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: none;
	font-family: 'Oswald', sans-serif;
}

.learn_more a:hover{
	text-decoration: none;
	background-color: #106cb6;
}

p.txt_contents{
	padding: 10px 160px;
	font-size: 18px;
}

.service_box{
	border-radius: 50%;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	vertical-align: middle;
	margin-bottom: 20px;
	display: inline-block;
	opacity: 0.6;
}

.service_box img{
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 24%;
}

.service_box{
	background-color: #fff;
	-moz-box-shadow:    4px 6px 0px 0px #acc0c7;
  	-webkit-box-shadow: 4px 6px 0px 0px #acc0c7;
  	box-shadow:         4px 6px 0px 0px #acc0c7;
}

.rsm_section{
	margin-bottom: 20px;
}

.flip {
	-webkit-perspective: 800;
	width: 70%;
	height: 110px;
	position: relative;
	margin: 5px auto;
	vertical-align: middle;
}

.flip img{
	margin-top: -10px;
	width:auto;
	height: auto;
}

.flip .card.flipped {
 	-webkit-transform: rotatex(-180deg);
}

.flip .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}

.flip .card .face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden ;
	z-index: 2;
}

.flip .card .front {
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

.flip .card .back {
	-webkit-transform: rotatex(-180deg);
	background: #b7b7b7;
	cursor: pointer;
	text-align: left;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
}

.flip .more_btn a{
	background-color: #106cb6;
	position: absolute;
	bottom: 0;
	right: 0;
	width: auto;
	height: 30px;
	padding: 4px 20px;
	display: block;
	text-decoration: none;
	color: #fff;
}


.flip_contribute {
	-webkit-perspective: 800;
	width: 90%;
	height: 145px;
	position: relative;
	margin-left: 2px;
	vertical-align: middle;
	background-color: #dfe5e6;
	margin-bottom: 10px;
}

.flip_contribute h3{
	padding-top: 40px;
}

.flip_contribute .card.flipped {
 	-webkit-transform: rotatex(-180deg);
}

.flip_contribute .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}

.flip_contribute .card .face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden ;
	z-index: 2;
}

.flip_contribute .card .front {
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

.flip_contribute .card .back {
	-webkit-transform: rotatex(-180deg);
	background: #b7b7b7;
	cursor: pointer;
	text-align: left;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
}

.flip_contribute .more_btn a{
	background-color: #106cb6;
	position: absolute;
	bottom: 0;
	right: 0;
	width: auto;
	height: 30px;
	padding: 4px 20px;
	display: block;
	text-decoration: none;
	color: #fff;
}


#products{
	padding-bottom: 40px;
}

.team_box{
	background-color: #f2f2f2;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	text-align: left;
	padding:10px 20px 20px 10px;
	position: relative;
	width:90%;
	-moz-box-shadow:    4px 6px 0px 0px #acc0c7;
  	-webkit-box-shadow: 4px 6px 0px 0px #acc0c7;
  	box-shadow:         4px 6px 0px 0px #acc0c7;
  	vertical-align: top;
  	margin-bottom: 20px;
  	min-height: 95px;
  	height: auto;
}

.team_box li:nth-child(1){
	float: left;
	width:32%;
}

.team_box li:nth-child(2){
	float: left;
	width:68%;
}

.team_img img{
	border: #acc0c7 solid 1px;
	width:78px;
	height: 78px;
}

.team_name{
	color: #2076bb;
}

.team_position{
	color: #1e445c;
}

.team_about{
	color: #717f81;
	font-size: 14px;
}

.social_btn{
	position: absolute;
	right: 8px;
	bottom: 5px;
}

#footer{
	background-color: #125687;
	min-height: 140px;'
	height: auto;
	width:100%;
	color: #fff;
	font-weight: 500;
}

.fancybox img{
	width: 220px;
	-moz-box-shadow:    4px 6px 0px 0px #acc0c7;
  	-webkit-box-shadow: 4px 6px 0px 0px #acc0c7;
  	box-shadow:         4px 6px 0px 0px #acc0c7;
  	margin-bottom: 15px;
  	margin-right: 10px;
}

.scrollup{
  position: fixed;
  bottom: 160px;
  right: 16px;
  display: none;

	background-color: #125687;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	vertical-align: middle;
	z-index: 9999;
	cursor: pointer;
}

.scrollup b{
	position: relative;
	top:5px;
}

.up a:hover{
	text-decoration: none;
}

ul.social_icons{
	display: inline;
}

ul.social_icons li{
	display: inline-block;
}

#footer .col-md-6{
	padding: 60px;
}

#footer .learn_more a{
	background-color: #acc0c7;
}

#footer .learn_more a:hover{
	background-color: #dfe5e6;
	color: #125687;
}

#footer .learn_more{
	margin-top: 0;
	margin-left: 4px;
}

#footer a{
	color: #fff;
}

.address{
	background: url('../img/map_ico.png') no-repeat 0px 0px;
	text-indent: 20px;
	margin-bottom: 20px;
}

.contact_info{
	background: url('../img/contact_ico.png') no-repeat 0px 0px;
	text-indent: 20px;
	margin-bottom: 20px;
}

.contact_info h4{
	font-weight: 400;
}
/*---------------------------------
	Responsive Grid Media Queries - 1280, 1024, 768, 480
	1280-1024 	- desktop (default grid)
	1024-768 	- tablet landscape
	768-480 	- tablet 
	480-less 	- phone landscape & smaller
-----------------------------------*/
@media all and (min-width: 1281px) and (max-width: 1365px) {

	p.txt_contents{
		padding: 10px 140px;
	}

}


@media all and (min-width: 1024px) and (max-width: 1280px) {
	
	p.txt_contents{
		padding: 10px 120px;
	}

	.team_box li:nth-child(1){
		width:32%;
	}

	.team_img img{
		width:72px;
		height: 72px;
	}

}

@media all and (min-width: 768px) and (max-width: 1024px) {

	p.txt_contents{
		padding: 10px 100px;
	}

	h1{
		font-size: 2.2em;
	}
	h2{
		font-size: 1.6em;
	}
	
	.carousel-inner{
		height: 278px;
	}

	.carousel-inner>.item{
		padding-top:290px;
	}

	.carousel-control{
		top:30%;
	}

	.flip{
		margin-bottom: 26px;
	}
	
	#products{
		padding-bottom: 10px;
	}

	.team_box li:nth-child(1){
		width:14%;
	}

}


@media all and (min-width: 480px) and (max-width: 768px) {

	p.txt_contents{
		padding: 10px 80px;
	}
	h1{
		font-size: 1.8em;
	}
	h2{
		font-size: 1.2em;
	}
	
	.carousel-inner{
		height: 278px;
	}

	.carousel-inner>.item{
		padding-top:270px;
	}

	.carousel-control{
		top:30%;
	}

	.flip{
		margin-bottom: 26px;
	}

	#products{
		padding-bottom: 0px;
	}

	.col-md-3, .col-md-4{
		margin-left: 25px;
	}

}


@media all and (max-width: 480px) {
	
	p.txt_contents{
		padding: 10px 60px;
	}

	h1{
		font-size: 1.8em;
	}
	h2{
		font-size: 1.2em;
	}

	.carousel-inner{
		height: 278px;
	}

	.carousel-inner>.item{
		padding-top:280px;
	}

	.carousel-control{
		top:30%;
	}

	.flip{
		height: 100px;
		margin-bottom: 26px;
	}

	.flip img{
		width:40%;
	}
	
	.flip .card .back{
		font-size: 13px;
	}

	#products{
		padding-bottom: 0px;
	}

	.col-md-3, .col-md-4{
		margin-left: 25px;
	}
}