body{
    background-image: URL("../images/background.png");
    background-repeat: repeat-x;
}
.header{
    border-top: 4px solid #22B24C;
}
.logo{
    margin-top: 25px;
}
.social-media{
    margin-top: 20px;
}
.navigation{
    background-image: URL("../images/navigation-bg.png");
    height: 50px;
    margin-top: 25px;
}
.separator{
    margin-top: 1px;
}
.navigation-item{
    background-repeat: no-repeat;
    background-position: center center;
    width: 309px;
    height: 50px;
}
.cause-navigation-item{
    background-image: URL("../images/mobadra.png");
}
.hangout-navigation-item{
    background-image: URL("../images/barza.png");
}
.result-navigation-item{
    background-image: URL("../images/natayeg.png");
}
.flowchart{
    margin-top: 60px;
}
.flowchart-arrow{
    margin-top: 50px;
}
.flowchart-item-details{
    background-repeat: repeat-x;
    height: 181px;
}
.express-flowchart-details{
    background-image: URL("../images/express-rectangle.png");
}
.communicate-flowchart-details{
    background-image: URL("../images/communicate-rectangle.png");
}
.participate-flowchart-details{
    background-image: URL("../images/result-rectangle.png");
}
.flowchart-item-details .wrapper{
    padding-top: 40px;
}
.flowchart-item-details .wrapper li{
    padding-right: 40px;
}
.flowchart-items-separator{
    margin-left: 50px;
    margin-right: 50px;
}
.cause-item{
    margin-top: 20px;
}
.pagination{
    margin-top: 20px;
    margin-right: 170px;
}
.full-width-pagination{
    margin-right: 330px;
}
.footer{
    background-image: URL("../images/footer-background.png");
    background-repeat: repeat-x;
    height: 166px;
    margin-top: 40px;
}
.footer .wrapper{
    padding-top: 30px;
    padding-right: 300px;
}
.left-sidebar{
    padding-top: 20px;
    padding-right: 30px;
}
.right-sidebar{
    padding-top: 20px;
    padding-left: 30px;
}
.home-calendar{
    margin-bottom: 40px;
}
.page-header .wrapper{
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.page-content{
    padding-top: 23px;
}
.createcause-container{
    background-image: URL("../images/create-cause-bg.png");
    background-repeat: repeat-x;
}
.create-cause-header{
    padding-top: 40px;
    padding-bottom: 30px;
}
.create-cause-step{
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 124px;
    height: 37px; 
    margin-top: 10px;
}
.create-cause-step-active{
    background-position: 0 -40px;
    margin-left: 20px;
}
.select-section{
    background-image: URL("../images/select-section.png");
}
.fill-cause{
    width: 160px;
    background-image: URL("../images/fill-cause.png");
}
.submit-cause{
    width: 143px;
    background-image: URL("../images/submit-cause.png");
}
.cause-sections{
    margin-top: 10px;
    margin-right: -10px;
}
.cause-section{
    background-image: URL("../images/cause-section.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 274px;
    height: 206px; 
    margin: 10px;
}
.cause-section:hover{
    background-position: 0 -206px;
}
.section-img{
    margin-top: 60px;
    margin-right: 25px;
}
.section-1{
    margin-top: 65px;
}
.section-2{
    margin-right: 40px;
}
.section-3{
    margin-top: 70px;
    margin-right: 50px;
}
.section-4{
    margin-right: 65px;
    margin-top: 65px;
}
.section-5{
    margin-right: 60px;
}
.section-7{
    margin-right: 75px;
    margin-top: 70px;
}
.cause-form{
    margin-top: 30px;
}
.cause-form-action{
    margin-top: 30px;
    margin-right: 338px;
}
.cause-form-content{
    width: 900px;
    height: 750px;
}
.select-section-form{
    position: absolute;
    top: 30px;
    right: 0;
}
.your-cause{
    margin-top: 30px;
    margin-bottom: 25px;
}
.your-cause div{
    margin-top: 20px;
    margin-right: 10px;
}