* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a,a:hover,a:visited{
    text-decoration: none;
    color: inherit;
}
a img,a:hover img,a:visited img{
    border: none;
}
html,body{
    height: 100%;
    width: 100%;
    direction: rtl;
}
input,select{
    background: none;
    border: none;
    outline: none;
}